spring:
  # 对应 RedisProperties 类
  redis:
    host: 114.132.43.99
    port: 6379
    password: XMG8bNjf2Yc3EQaYPYcJVe58 # Redis 服务器密码, 默认为空。生产环境中必须要设置
    database: 0 # Redis 数据库号。默认为 0
    timeout: 0 # Redis 连接超时时间, 单位: 毫秒
    # 对应 RedisProperties.Jedis 内部类
    jedis:
      pool:
        max-active: 8 # 连接数最大连接数, 默认为 8。使用负数表示没有限制
        max-idle: 8 # 默认连接数最大空闲的连接数, 默认为 8。使用负数表示没有限制
        min-idle: 0 #  默认连接池最小空闲的连接数，默认为 0 。允许设置 0 和 正数
        max-wait: -1 # 连接池最大阻塞等待时间，单位：毫秒。默认为 -1 ，表示不限制